/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/*Normalize CSS */
/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
html {
  font-size: 1.25em; /* 20/16 = 1.25em */
  line-height: 1.1em; /* 22/20 = 1.1em */
}

body {
  font-family: "Slabo 27px", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 1.1em; /* 22/20 = 1.1em */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Acme, sans-serif;
}

h1 {
  font-size: 2.2em; /* 44/20 = 2.2 ee */
  line-height: 1em; /* 44/44 = 1.0em */
}

h2 {
  font-size: 1.25em; /* 25/20 = 1.25 em */
  line-height: 1.76em; /* 44/25 = 0.88 em */
}

h3 {
  font-size: 1em; /* 20/20 = 1em */
  line-height: 1.1em; /* 22/20 = 1.1em */
  font-weight: normal;
}

h4 {
  font-size: 0.8em; /* 16/20 = 0.8em */
  line-height: 1.375em; /* 22/16 = 1.375em */
  font-weight: normal;
}


ol,
ul {
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
}

li ol,
li ul {
  padding-left: 1.1em; /* 22/20 = 1.1 */
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
}

li ol {
  list-style-type: lower-alpha;
}

li li ol {
  list-style-type: lower-roman;
}

footer {
  position: absolute;
  width: 100%;
  padding-top: 1.1em; /* 22/20 = 1.1em */
  padding-bottom: 1.1em; /* 22/20 = 1.1em */
  text-align: center;
}

footer p {
  text-transform: uppercase;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 0;
  font-size: 0.6em; /* 12/20 = 0.6em */
  line-height: 1.833em; /* 22/12 = 1.833em */
}

figcaption {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 0.6em; /* 12/20 = 0.6em */
  line-height: 1.833em; /* 22/12 = 1.833em */
  text-align: center;
}

section {
  width: 100vw;
}

form ul li {
  padding-bottom: 1.1em;
}

header {
  display: none;
}

label {
  text-align: left;
  display: block;
  padding-bottom: 0.25em; /*5/20 = 0.25em */
}

/* Responsive Media */

img,
video,
audio {
  display: block;
  max-width: 100%;
  padding-bottom: 0.55em;
}

/* Layout Styles */

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FED631;
}

#navigation ul,
#navigation li {
  list-style-type: none;
  padding-bottom: 0;
  border: none;
}

#navigation #name {
  font-weight: bold;
}

#navigation ul {
  background: #FED631;
}

#navigation li {
  background: #FED631;
  float: left;
  width: 33.33333333%;
}

#navigation a {
  display: block;
  width: 100%;
  color: #000000;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  padding-top: 0.55em;
  /* 11/20 = 0.55 */
  padding-bottom: 0.55em;
  /* 11/20 = 0.55 */
}

#splash {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #000000;
}

#splash-content {
  color: #FFFFFF;
  padding-left: 0.55em;
  padding-right: 0.55em;
  padding-top: 0.55em;
  padding-bottom: 0.55em;
}

#splash-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em; /* 200/20 = 10em */
}

#sign-up-content {
  text-align: left;
  padding-right: 1.5em; /* 30/20 = 1.5em */
  padding-left: 1.5em; /* 30/20 = 1.5em */
  padding-top: 1.5em; /* 30/20 = 1.5em */
}

#submit {
  margin-top: 0.5em; /* 10/20 = 0.5em */
  color: #000;
  cursor: pointer;
  background-color: #FED631;
  border-radius: 0.25em; /* 5/20 = 0.25em */
  border: 0.05em grey solid; /* 1/20 = 0.05em */
  padding: 0.5em 3.5em 0.5em 3.5em;
  font-size: inherit;
}

#email {
  display: block;
  cursor: text;
  padding: 0.5em 0.5em 0.5em 0.5em; /* 10/20 = 0.5em */
  width: 80%;
  text-align: left;
  border: 0.05em grey solid; /*1/20 = 0.05em */
  border-radius: 0.15em; /* 3/20 = 0.15em */
  font-size: inherit;
}

.error {
  margin-top: 5px;
  color:red;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.success {
  color: green;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.gold {
  color:#FED631;
  font-weight: bold;
}

/* Modular Styles */

/* State Styles */

@media only screen and (min-width: 1000px) {
  #splash-content img {
    width: 20em; /* 400/20 = 20em */
  }
}


@media only screen and (min-width: 550px) {

  label {
    text-align: center;
  }

  #sign-up-content {
    text-align: center;
  }

  #submit {
    padding: 0.75em 1.5em 0.75em 1.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -0.4em; /* -8/20 = 0.2em */
  }

  #email {
    display: inline;
    margin: auto;
    padding: 0.75em 0.5em 0.75em 0.5em;
    border-right: 0;
    border-top-left-radius: 0.25em; /* 5/20 = 0.25em */
    border-bottom-left-radius: 0.25em; /* 5/20 = 0.25em */
    width: 20em; /* 400/20 = 15em */
  }
  
  @media only screen and (min-width: 1280px) {

    #email {
      padding: 1.3em 1.3em 1.3em 1.3em;
      width: 35em; /* 700/20 = 15em */
    }

    #submit {
      padding: 1.3em 3em 1.3em 3em;
    }
  }
}
