/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
html {
  font-size: 1.25em; /* 20/16 = 1.25em */
  line-height: 1.1em; /* 22/20 = 1.1em */
}

body {
  font-family: "Slabo 27px", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 1.1em; /* 22/20 = 1.1em */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Acme, sans-serif;
}

h1 {
  font-size: 2.2em; /* 44/20 = 2.2 ee */
  line-height: 1em; /* 44/44 = 1.0em */
}

h2 {
  font-size: 1.25em; /* 25/20 = 1.25 em */
  line-height: 1.76em; /* 44/25 = 0.88 em */
}

h3 {
  font-size: 1em; /* 20/20 = 1em */
  line-height: 1.1em; /* 22/20 = 1.1em */
  font-weight: normal;
}

h4 {
  font-size: 0.8em; /* 16/20 = 0.8em */
  line-height: 1.375em; /* 22/16 = 1.375em */
  font-weight: normal;
}


ol,
ul {
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
}

li ol,
li ul {
  padding-left: 1.1em; /* 22/20 = 1.1 */
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
}

li ol {
  list-style-type: lower-alpha;
}

li li ol {
  list-style-type: lower-roman;
}

footer {
  position: absolute;
  width: 100%;
  padding-top: 1.1em; /* 22/20 = 1.1em */
  padding-bottom: 1.1em; /* 22/20 = 1.1em */
  text-align: center;
}

footer p {
  text-transform: uppercase;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 0;
  font-size: 0.6em; /* 12/20 = 0.6em */
  line-height: 1.833em; /* 22/12 = 1.833em */
}

figcaption {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 0.6em; /* 12/20 = 0.6em */
  line-height: 1.833em; /* 22/12 = 1.833em */
  text-align: center;
}

section {
  width: 100vw;
}

form ul li {
  padding-bottom: 1.1em;
}

header {
  display: none;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius:0;
}

label {
  text-align: left;
  display: block;
  padding-bottom: 0.25em; /*5/20 = 0.25em */
}

/* Responsive Media */

img,
video,
audio {
  display: block;
  max-width: 100%;
  padding-bottom: 0.55em;
}

/* Layout Styles */

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FED631;
}

#navigation ul,
#navigation li {
  list-style-type: none;
  padding-bottom: 0;
  border: none;
}

#navigation #name {
  font-weight: bold;
}

#navigation ul {
  background: #FED631;
}

#navigation li {
  background: #FED631;
  float: left;
  width: 33.33333333%;
}

#navigation a {
  display: block;
  width: 100%;
  color: #000000;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  padding-top: 0.55em;
  /* 11/20 = 0.55 */
  padding-bottom: 0.55em;
  /* 11/20 = 0.55 */
}

#splash {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #000000;
}

#splash-content {
  color: #FFFFFF;
  padding-left: 0.55em;
  padding-right: 0.55em;
  padding-top: 0.55em;
  padding-bottom: 0.55em;
}

#splash-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em; /* 200/20 = 10em */
}

#sign-up-content {
  text-align: left;
  padding-right: 1.5em; /* 30/20 = 1.5em */
  padding-left: 1.5em; /* 30/20 = 1.5em */
  padding-top: 1.5em; /* 30/20 = 1.5em */
}

#submit {
  margin-top: 0.5em; /* 10/20 = 0.5em */
  color: #000;
  cursor: pointer;
  background-color: #FED631;
  border-radius: 0.25em; /* 5/20 = 0.25em */
  border: 0.05em grey solid; /* 1/20 = 0.05em */
  padding: 0.5em 3.5em 0.5em 3.5em;
  font-size: inherit;
}

#email {
  display: block;
  cursor: text;
  padding: 0.5em 0.5em 0.5em 0.5em; /* 10/20 = 0.5em */
  width: 80%;
  text-align: left;
  border: 0.05em grey solid; /*1/20 = 0.05em */
  border-radius: 0.15em; /* 3/20 = 0.15em */
  font-size: inherit;
}

.error {
  margin-top: 5px;
  color:red;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.success {
  color: green;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.gold {
  color:#FED631;
  font-weight: bold;
}

/* Modular Styles */

/* State Styles */

@media only screen and (min-width: 1000px) {
  #splash-content img {
    width: 20em; /* 400/20 = 20em */
  }
}


@media only screen and (min-width: 550px) {

  label {
    text-align: center;
  }

  #sign-up-content {
    text-align: center;
  }

  #submit {
    padding: 0.75em 1.5em 0.75em 1.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -0.4em; /* -8/20 = 0.2em */
  }

  #email {
    display: inline;
    margin: auto;
    padding: 0.75em 0.5em 0.75em 0.5em;
    border-right: 0;
    border-top-left-radius: 0.25em; /* 5/20 = 0.25em */
    border-bottom-left-radius: 0.25em; /* 5/20 = 0.25em */
    width: 20em; /* 400/20 = 15em */
  }
  
  @media only screen and (min-width: 1280px) {

    #email {
      padding: 1.3em 1.3em 1.3em 1.3em;
      width: 35em; /* 700/20 = 15em */
    }

    #submit {
      padding: 1.3em 3em 1.3em 3em;
    }
  }
}
