/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
html {
  font-size: 1.25em; /* 20/16 = 1.25em */
  line-height: 1.1em; /* 22/20 = 1.1em */
}

body {
  padding-top: 3.3em; /* 66/20 = 3.3em */
}

main {
  padding-right: 1.65em; /* 33/20 = 1.65em */
  padding-left: 1.65em; /* 33/20 = 1.65em */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 1.1em; /* 22/20 = 1.1em */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  font-size: 2.2em; /* 44/20 = 2.2 ee */
  line-height: 1em; /* 44/44 = 1.0em */
}

h2 {
  font-size: 1.25em; /* 25/20 = 1.25 em */
  line-height: 1.76em; /* 44/25 = 0.88 em */
}

h3 {
  font-size: 1em; /* 20/20 = 1em */
  line-height: 1.1em; /* 22/20 = 1.1em */
  font-weight: normal;
}

h4 {
  font-size: 0.8em; /* 16/20 = 0.8em */
  line-height: 1.375em; /* 22/16 = 1.375em */
  font-weight: normal;
}

p {
  font-family: Georgia, serif;
}

ol,
ul {
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
  font-family: Georgia, serif;
}

li ol,
li ul {
  padding-left: 1.1em; /* 22/20 = 1.1 */
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
}

li ol {
  list-style-type: lower-alpha;
}

li li ol {
  list-style-type: lower-roman;
}

footer {
  position: absolute;
  width: 100%;
  padding-top: 1.1em; /* 22/20 = 1.1em */
  padding-bottom: 1.1em; /* 22/20 = 1.1em */
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}

footer p {
  text-transform: uppercase;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 0;
  font-size: 0.6em; /* 12/20 = 0.6em */
  line-height: 1.833em; /* 22/12 = 1.833em */
}

figcaption {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 0.6em; /* 12/20 = 0.6em */
  line-height: 1.833em; /* 22/12 = 1.833em */
  text-align: center;
}

section{
  height: 100vh;
}

form ul li{
    padding-bottom: 1.1em;
}

input {
  padding: 1em;
}

/* Responsive Media */

img,
video,
audio {
  display: block;
  max-width: 100%;
  padding-bottom: 0.55em;
}

/* Layout Styles */
#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #141E30;
}

#navigation ul,
#navigation li {
  list-style-type: none;
  padding-bottom: 0;
  border: none;
}

#navigation #name {
  font-weight: bold;
}

#navigation ul {
  background: #141E30;
}

#navigation li {
  background: #141E30;
  float: left;
  width: 33.33333333%;
}

#navigation a {
  display: block;
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  padding-top: 0.55em; /* 11/20 = 0.55 */
  padding-bottom: 0.55em; /* 11/20 = 0.55 */
}

#home #nav-home,
#resume #nav-features,
#projects #nav-sign-up {
  border-bottom-color: #1DA2F4;
  border-bottom: 0.25em solid #1DA2F4; /* 5/20 = 0.25em */
}

/* Modular Styles */

/* State Styles */
